body
{
	background-color: #f2f2f2;
	font-family:"Trebuchet MS", Georgia, Verdana, serif;
}

h1
{
	color:black;
	font-size:3em;
	font-weight: bold;
	text-align: center;
}

h2
{
	color: black;
	font-size:2em;
	font-weight: bold;
	text-align: center;
}

.title
{
	text-align: center;
	font-size:1.5em;
	font-weight: bold;
}

.conteneur1
{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	align-content: space-around;
}

.form__contact
{
	width: 40%;
	height: auto;
	border-radius: 10px;
	background-color: white;
	box-shadow: 5px 5px 5px #ccc;
	padding:10px;
	margin-right: 5%;
	margin-bottom: 4%;
	text-align: justify;
}

.form__contact p
{
	margin-bottom: 4%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:90%;
}

form {
  	margin: 0 auto;
  	width: 80%;
 	padding: 1em;
 	border-radius: 1em;
}

input, textarea {
  	width: 90%;
  	display: block;
  	margin-left:auto;
  	margin-right:auto;
  	border: 1px solid #999;
  	margin-bottom: 2%;
  	background-color:#f2f2f2;
}

textarea {
	display: block;
	margin-left:auto;
	margin-right:auto;
  	vertical-align: top;
  	height: 10em;
}

input:focus, textarea:focus {
 	 border-color: #000;
}

.button {
	margin-top:2%;
  	padding-left: 90px;
}

button {
  	margin-left: 28%;
}

.conteneur2
{
	max-width: 400px;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	align-content: space-around;
	flex-direction: column;
}

.contact__eleve, .contact__univ
{
	width:98%;
	height:auto;
	border-radius: 10px;
	background-color: white;
	box-shadow: 5px 5px 5px #ccc;
	padding: 4%;
}

.contact__eleve
{
	margin-bottom: 10%;
}

.adresse
{
	text-align:center;
}