body {
	margin: 0;
	overflow: hidden;
	display: flex;
}

.home-wrapper {
	display: flex;
	position: absolute;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	transition: left 0.3s ease-in-out;
}

.loaded-content {
	position: absolute;
	right: -1048px;
	height: 100vh;
	width: 1048px;
	background-color: white;
	transition: right 0.3s ease-in-out;
}

.moved-wrapper {
	/*left: -1033px;*/
	left: -1048px;
}

.moved-content {
	right: 0;
}

.home-logo {
	z-index: 2;
	/*padding: 10px;*/
	padding: 1.1vh;
	height: 5vh;
}

.home-background {
	min-width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	filter: blur(2.5px);
}

.home-gradient {
	z-index: 1;
	background: linear-gradient(90deg, rgba(0,0,0,0.4), rgba(0,0,0,0.9));
	min-width: 100vw;
	min-height: 100vh;
	position: absolute;
}

p,li {
	color: white;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.home-content {
	position: absolute;
	z-index: 3;
	width: 66%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	/*align-items: center;*/
	right: 10%;
	transition: right 0.3s ease-in;
}

.moved-over {
	right: 0;
}

.home-titles {
	max-width: 790px;
	margin-top: 20vh;
	transition: visibility 0.1s ease-in;
}

.home-title {
	z-index: 3;
	font-weight: 900;
	/*font-size: 56px;*/
	font-size: 6.2vh;
	letter-spacing: 0.15rem;
	display: inline-block;
	/*transition: display 0.3s ease-in;*/
}

.home-subtitle {
	z-index: 3;
	margin-top: 10px;
	font-weight: 400;
	/*font-size: 28px;*/
	font-size: 3.2vh;
	letter-spacing: 0.1rem;
	display: inline-block;
	/*transition: display 0.3s ease-in;*/
}

.fade {
	visibility: hidden;
}

.home-nav {
	z-index: 3;
	color: white;
	max-width: 415px;
	margin-top: 15vh;
}

.home-nav > ul {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	/*float: right;*/
}

.home-nav > ul > li {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 48px;
	letter-spacing: 0.15rem;
}

.home-nav > ul > li > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 415px;  /*with 20px between label and arrow, 395px with no space */
	width: 400px;  /*with 20px between label and arrow, 395px with no space */
	height: 64px;
	pointer-events: none;
}

.home-nav > ul > li > div > p {
	align-self: center;
	/*left: 20px;*/
	margin-left: 20px;
}

.home-nav > ul > li > div > span {
	align-self: center;
	margin-right: 20px;
	font-size: 64px;
}

.italic {
	font-style: italic;
}

.highlight {
	background-color: red;
}

.hidden {
	display: none;
}