body
{
	background-color: #f2f2f2;
	font-family:"Trebuchet MS", Georgia, Verdana, serif;
	text-align:justify;
}

h1
{
	color:black;
	font-size:3em;
	font-weight: bold;
	text-align: center;
}

.intro
{
	text-align: center;
	font-size:1.2em;
}

#sliding_pictures
{
	position: relative;
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:90%;
	margin-top:3%;
}

.accordion
{
	margin-top: 3%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:80%
}

.accordion__button
{
	border:none;
}

.feedback
{
	font-style:italic;
}

.eleve
{
	margin-left:12%;
	float:left;
	clear: both;
	width:8%;
	height:auto;
	z-index:3;
	position: relative;
}

.eleve img
{
	object-fit:contain;
}

.arrow_box{
 	width:70%;
 	margin-left:23%;
 	background:white;
 	position:relative;
 	box-shadow:2px 2px 2px #ccc;
 	padding:10px;
 	z-index: 2;
}

.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border:1px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    background-color: #f2f2f2;
}

.arrow_box:after {
    border-color: rgba(68, 68, 68, 0);
    border-right-color: white;
    border-width: 30px;
    margin-top: -30px;
}
.arrow_box:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000;
    border-width: 31px;
    margin-top: -31px;
}